@charset "utf-8";
#field{
 margin-left: 15%;
 margin-right: 15%;
}
.card{
    width: 70px;
    height: 120px;
    border: 2px solid #aaa;
    border-radius: 5px;
    font-size: 30px;
    margin: 8px;
    float: left;
    text-align: center;
    line-height: 120px;
}
h1{
    margin: 0px;
    text-align: center;
}
p{
    margin: 0px;
    text-align: center;
}
@media screen and (max-width: 900px) {
    #field{
        margin-left: 0%;
        margin-right: 0%;
    }
    .card{
        margin-inline-start: 2px;
        width: 70px;
        height: 110px;
        line-height: 120px;
    }
}
